body{
    background-image:url('fundo.png');
    background-size: cover;
    margin:0px;
}

label{
   color:black;
   font-family: "Poppins", sans-serif;
}
body{
   background-image: url(background.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
background-color:#ffffff;
   background-size:cover;
   font-family: "Poppins", sans-serif;
   padding-top:10px;
   padding-bottom:10px;
}
.w50{
   width: 100%;
   float: left;
   padding-right: 15px;
}
.box{
 
   display: flex;
   width: 1200px;
}
.img-box{
   background-color:rgb(64, 2, 85);
   width: 50%;
   display: flex;
   align-items: center;
   padding: 20px;
   border-radius: 20px  0 0 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-box img{
   width: 100%;
}
.form-box{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: rgba(255, 255, 255);
   backdrop-filter: blur(40px);
   padding: 30px 40px;
   width: 50%;
   border-radius: 0 20px 20px 0;
}
.form-box h2{
   font-size: 30px;
}
.form-box p{
   font-weight: bold;
   color: #3D3D3D;
}
.form-box p a{
   color: #004AAD;
   text-decoration: none;
}
.form-box form{
   margin: 20px 0;
}
.form .input-group{
   margin-bottom: 15px;
}
.form .input-group label{
   color: #3D3D3D;
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
   font-family: "Poppins", sans-serif;
}
.form .input-group input{
   width: 90%;
   height: 30px;
   background-color: rgba(230, 230, 230, 0.32);
   border-radius: 20px;
   outline: none;
   border: 2px solid transparent;
   padding: 15px;
   font-size: 15px;
   color: #616161;
   transition: all 0.4s ease;
   font-family: "Poppins", sans-serif;
}
.form .input-group input:focus{
   border-color: #004AAD;
}
.form .input-group button{
   width: 50%;
   height: 47px;
   background: #9f00bb;
   border-radius: 20px;
   outline: none;
   border: none;
   margin-top: 15px;
   color: white;
   cursor: pointer;
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   font-weight:500;
}

.form .input-group button:hover{
   background: #56068f;
   transition-duration:400ms;
}

@media (max-width:930px) {
   .img-box{
       display: none;
   }
   .box{
       width: 700px;
   }
   .form-box{
       width: 100%;
       border-radius: 20px;
   }
}
@media (max-width:500px) {
   .w50{
       width: 100%;
       padding: 0;
   }
}

.imgdaora{
    top:3%;
    position:absolute;
    width:12%;
    left:2%;
    z-index:-1;
 }